<html>
{{template "header.tmpl.html"}}

<body>
  {{template "nav.tmpl.html"}}
  <div class="container">
    <div class="row">
      <h1>
        Tall om folk i Norge
      </h1>
      <p>
        Tall fra SSB, representert med grafer.
      </p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a button class="btn btn-default" href="pages/argeidslause">Arbeidslause</a>
      </div>
      <div class="col-md-4">
        <a button class="btn btn-default" href="pages/migrering">Migrering</a>
      </div>
      <div class="col-md-4">
        <a button class="btn btn-default" href="pages/argeidslause">foobar</a>
      </div>
    </div>

  </div>
</body>
{{template "footer.tmpl.html"}}

</html>
