<html>
{{template "header.tmpl.html"}}

<body>
  {{template "nav.tmpl.html"}}
  <div class="container">
    <div class="row">
      <h1>
        Tall om folk i Norge
      </h1>
      <p>
        Alle tall er hentet fra <a href="http://www.ssb.no">SSB</a>, representert med grafer. Tallene som ligger til grunn for grafene er oppdatert med det siste fra ssb.
      </p>
    </div>

    <div class="row">
      <div class="col-md-4">
<pre>
  Kjære tall, fra null til ni.
  Dere kommer man ikke forbi.
  Blant alle som teller
  er det dere som gjelder.
</pre>
</div>
<div class="col-md-4">
  <h2>Grafisk fremstilte tall:</h2>
  <div class="list-group">
    <a class="list-group-item" href="pages/1052">Utvikling i arbeidsledighet</a>
    <a class="list-group-item" href="pages/1102">Endringer i folketall per fylke siste år</a>
    <a class="list-group-item" href="pages/1076">Aldersfordeling per fylke</a>
  </div>
</div>
</div>
  </div>
</body>
{{template "footer.tmpl.html"}}

</html>
