<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Folketelling</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-dashboard"></span> Tall <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="/pages/1052"> Utvikling i arbeidsledighet</a></li>
              <li><a href="/pages/1102"> Endringer i folketall per fylke siste år</a> </li>
          </ul>
      </li>


      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Om tallene <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="https://github.com/nilsmagnus/folketelling">Kildekode for siden</a></li>
              <li><a href="https://www.ssb.no"> Alle data er fra ssb</a> </li>

          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">

      </li>
    </ul>
  </div>
</nav>
